body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%
}

.title-box {
    background-color: #0c488c;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

    border-left: 20px #0c488c solid;
    border-bottom: 20px #0c488c solid;
}

.subtitle-box {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c488c;
    border-bottom: 20px;
    border-top: 20px;
}

.subtitle-box-2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0c488c;
    border-bottom: 20px;
    border-top: 20px;
    margin-bottom: -0.5cm;
    margin-top: 2cm
}


.abstract {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    border-bottom: 20px;
    line-height: 150%;
    border-top: 20px;
    width: 95%;
}

.footer {
    margin-top: 20px;
    background-color: #0c488c;
    color: #ffffff;
}

.footer-logo {
    padding: 16px;
    text-align: center;
}

.title-box img{
    border-top: 20px #0c488c solid;
    position: relative;
}

#paper-title {
    font-weight: 700;
    font-size: 26px;

    position: relative;
}

#submit {
    font-weight: 700;
    font-size: 23px;

    position: relative;
}

#ack {
    font-weight: 700;
    font-size: 18;

    position: relative;
}

#ack a{
    text-decoration: underline;
    color: #ffffff;
}

#ack a:visited{
    color: #ffffff;
}

.single-demo {
    background-color: #ffffff;
    border-left: 20px #ffffff solid;
}

.media_r{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.media_p{
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.media_b{
    float: left;
    width: 40%;
    box-sizing: border-box;
}

.media_s{
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.notion{
    float: left;
    width: 20%;
    box-sizing: border-box;
}

#link_lyric {
    text-decoration: underline;
    color: black;
}

#link_lyric:visited {
    color: black;
}

.clear {
    clear: both;
    }